<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
     <test verbose="2" preserve-order="true"
        name="C:/Users/mamid/OneDrive/Desktop/SaiTeja/JDBL/MicroServicesProjects/microservices-3.4.1/saitejav2.0/section2/parabankAutomationProject">
         <classes/>
     </test>
</suite>